apparmor==2.13.4
appdirs==1.4.3
application-utility==1.3.2
attrs==19.3.0
backcall==0.1.0
bleach==3.1.5
btrfsutil==1.2.0
CacheControl==0.12.6
chardet==3.0.4
colorama==0.4.3
contextlib2==0.6.0.post1
cupshelpers==1.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
distro==1.5.0
docopt==0.6.2
entrypoints==0.3
graphviz==0.14
html5lib==1.0.1
idna==2.9
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.1.0
jedi==0.16.0
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
keyutils==0.6
LibAppArmor==2.13.4
lolviz==1.4.4
louis==3.13.0
MarkupSafe==1.1.1
mistune==0.8.4
msgpack==1.0.0
nbconvert==5.6.1
nbformat==5.0.6
notebook==6.0.3
npyscreen==4.10.5
ordered-set==3.1.1
packaging==20.3
pacman-mirrors==4.16.4
pandocfilters==1.4.2
parso==0.6.2
pep517==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.1
progress==1.5
prometheus-client==0.7.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pwquality==1.4.2
pycairo==1.19.1
pycups==1.9.74
pycurl==7.43.0.5
Pygments==2.6.1
PyGObject==3.36.0
pyparsing==2.4.7
PyQt5==5.14.2
PyQt5-sip==12.7.2
pyrsistent==0.16.0
pysmbc==1.0.20
python-dateutil==2.8.1
python-libtorrent==1.2.5
pytoml==0.1.21
PyYAML==5.3.1
pyzmq==19.0.0
reportlab==3.5.42
requests==2.23.0
retrying==1.3.3
Send2Trash==1.5.0
sip==4.19.22
six==1.14.0
team==1.0
terminado==0.8.3
testpath==0.4.4
toml==0.10.0
tornado==6.0.4
traitlets==4.3.3
udiskie==2.1.1
urllib3==1.25.9
wcwidth==0.1.8
webencodings==0.5.1
